/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.idea/workspace.xml
/.idea/tasks.xml
.idea/libraries/Leiningen__clj_time_0_11_0.xml
.idea/libraries/Leiningen__clj_tuple_0_2_2.xml
.idea/libraries/Leiningen__colorize_0_1_1.xml
.idea/libraries/Leiningen__com_rpl_specter_0_9_0.xml
.idea/libraries/Leiningen__commons_codec_1_10.xml
.idea/libraries/Leiningen__environ_1_0_1.xml
.idea/libraries/Leiningen__flare_0_2_9.xml
.idea/libraries/Leiningen__funcool_octet_1_0_2.xml
.idea/libraries/Leiningen__io_netty_netty_buffer_4_1_5_Final.xml
.idea/libraries/Leiningen__io_netty_netty_common_4_1_5_Final.xml
.idea/libraries/Leiningen__joda_time_2_8_2.xml
.idea/libraries/Leiningen__marick_clojure_commons_1_1_3.xml
.idea/libraries/Leiningen__marick_suchwow_4_4_3.xml
.idea/libraries/Leiningen__midje_1_8_3.xml
.idea/libraries/Leiningen__ordered_1_2_0.xml
.idea/libraries/Leiningen__org_clojars_brenton_google_diff_match_patch_0_1.xml
.idea/libraries/Leiningen__org_clojure_core_unify_0_5_2.xml
.idea/libraries/Leiningen__org_clojure_math_combinatorics_0_1_1.xml
.idea/libraries/Leiningen__org_clojure_tools_macro_0_1_5.xml
.idea/libraries/Leiningen__org_clojure_tools_namespace_0_2_10.xml
.idea/libraries/Leiningen__org_tcrawley_dynapath_0_2_3.xml
.idea/libraries/Leiningen__potemkin_0_4_2.xml
.idea/libraries/Leiningen__riddley_0_1_11.xml
.idea/libraries/Leiningen__slingshot_0_12_2.xml
.idea/libraries/Leiningen__swiss_arrows_1_0_0.xml
